@model IEnumerable<GCE.Domain.Models.Pessoa>

<table id="fornecedores" class="table table-striped">
    <thead>
        <tr>
            <th data-orderable="false">#</th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.TipoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th style="width:280px">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porte)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.DataConstituicao)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.Fone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.RadioButton("select_Id", item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPessoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataConstituicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
            </tr>
        }
    </tbody>
</table>
