@model GCE.Domain.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConstituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConstituicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeQuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorQuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorQuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptalSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptalSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaracterizacaoCaptal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracterizacaoCaptal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
