
<nav class="navbar navbar-light border-bottom px-2" style="background-color: #e3f2fd;">
    <span class="navbar-brand">Fornecedores</span>
    <ul class="nav" id="NavFornecedor">
        <li class="nav-item">
            @Ajax.ActionLink("Incluir", "_Create", "Pessoa", null, new AjaxOptions() { UpdateTargetId = "_ContentModal", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link dialog-buton", data_toggle = "modal", data_target = "#DialogModal" })
        </li>
        <li class="nav-item">
            @Ajax.ActionLink("Abrir", "_Edit", "Pessoa", new { Id = "0" }, new AjaxOptions() { UpdateTargetId = "_ContentModal", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link dialog-buton", data_toggle = "modal", data_target = "#DialogModal" })
        </li>
        <li class="nav-item">
            @Ajax.ActionLink("Excluir", "_Delete", "Pessoa", new { Id = "0" }, new AjaxOptions() { UpdateTargetId = "_ContentModal", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link dialog-buton", data_toggle = "modal", data_target = "#DialogModal" })
        </li>
        <li class="nav-item">
            @Ajax.ActionLink("Ativar", "_Ativar", "Pessoa", new { Id = "0" }, new AjaxOptions() { UpdateTargetId = "_ContentGrid", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link"})
        </li>
        <li class="nav-item">
            @Ajax.ActionLink("Desativar", "_Desativar", "Pessoa", new { Id = "0" }, new AjaxOptions() { UpdateTargetId = "_ContentGrid", InsertionMode = InsertionMode.Replace }, new { @class = "nav-link"})
        </li>
        <li class="nav-item">
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "nav-link" })
        </li>
    </ul>
</nav>

<div class="p-2" id="_ContentGrid">
    @{Html.RenderAction("_Grid");}
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[name='select_Id']").change(function () {

            var id = this.value;

            $("#NavFornecedor .nav-item a").each(function () {

                var src = $(this).attr("href");

                var srcArray = src.split('/');

                var srcNew = "";

                for (var i = 0; i < (srcArray.length - 1); i++) {
                    srcNew += srcArray[i] + "/"
                }

                $(this).attr("href", srcNew + id);
            });
        });
    });
</script>
